body {
    background-color: #121212;
}

@keyframes title-bounce {
    
    50% {transform:translateY(10px);}
    
    100% {transform:translateY(-10px);}
}

#title {
    font-family: 'Do Hyeon', sans-serif;
    color:white;
    text-shadow: 1px 1px blue,1px 1px blue,1px 1px blue,1px 1px blue;
    text-align: center;
    /*animation-name: title-bounce;
    animation-duration: 4s;
    animation-iteration-count: infinite;*/
    margin-top: 18vw;
    font-size: 48px;
    margin-bottom: 30px;
}

#start {
    cursor: pointer;
    display: block;
    margin-left: 42vw;
    margin-top: 40px;
    box-shadow: 2px 2px blue;
    border-radius: 3px;
    height:100px;
    width:200;
    font-size: 40px;
    background-color: aquamarine;
}

#start:hover{

    border: 2px solid blue;
    color:blue;

}

.gameboard {
    display:inline-block;
    height: 400px;
    width: 400px;
    margin-left: 35vw;

}

.gamesquare {
    cursor: pointer;
    font-family: 'Do Hyeon', sans-serif;
    text-shadow: 1px 1px white, 1px 1px white, 1px 1px white, 1px 1px white;
    color: blue;
    float: left;
    height:123px;
    width:123px;
    border: 2px solid white;
    font-size:120px;
    text-align: center;
    vertical-align: center;
}

.playerarea {
    display:flex;
    justify-content: center;

}


.player1, .player2 {
    font-size: 48px;
    color: white;
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
    text-shadow: 1px 1px blue,1px 1px blue,1px 1px blue,1px 1px blue;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 50px;
    
}

.player-active{
    color:red;
}

.winner {
    font-size: 48px;
    text-align: center;
    color: white;
    font-family: 'Do Hyeon', sans-serif;
    text-shadow: 1px 1px blue,1px 1px blue,1px 1px blue,1px 1px blue;
    margin-top:20vw;
    margin-bottom:20px;
}

.restart {
    display:inline-block;
    cursor:pointer;
    text-align: center;
    margin-left:43vw;
    
    font-size: 24px;
    background-color: aquamarine;
    box-shadow: 2px 2px blue;
    border-radius: 3px;
}

.exit {
    display:inline-block;
    cursor:pointer;
    text-align: center;
    margin-left:10px;
    font-size: 24px;
    background-color: red;
    box-shadow: 2px 2px black;
    border-radius: 3px;
}

