#title {
    text-align: center;
    margin-top: 18vw;
    font-size: 48px;
    margin-bottom: 30px;
}

#start {
    cursor: pointer;
    display: block;
    margin-left: 42vw;
    margin-top: 40px;
    box-shadow: 2px 2px blue;
    border-radius: 3px;
    height:100px;
    width:200;
    font-size: 40px;
    background-color: aquamarine;
}

.gameboard {
    display:inline-block;
    height: 400px;
    width: 400px;
    margin-left: 35vw;

}

.gamesquare {
    cursor: pointer;
    font-family: 'Do Hyeon', sans-serif;
    color: blue;
    float: left;
    height:123px;
    width:123px;
    border: 2px solid black;
    font-size:120px;
    text-align: center;
    vertical-align: center;
}

.playerarea {
    display:flex;
    justify-content: center;

}

.symbolarea {
    display:flex;
    justify-content: center;
}


.players {
    font-size: 38px;
    margin-right: 10px;
    margin-left:10px;
    
}

.symbols {
    font-size: 40px;
    font-family: 'Do Hyeon', sans-serif;
    margin-right: 50px;
    margin-left: 30px;
    margin-bottom: 30px;
}



.winner {
    font-size: 48px;
    text-align: center;
    margin-top:20vw;
    margin-bottom:20px;
}

.restart {
    display:inline-block;
    cursor:pointer;
    text-align: center;
    margin-left:43vw;
    
    font-size: 24px;
    background-color: aquamarine;
    box-shadow: 2px 2px blue;
    border-radius: 3px;
}

.exit {
    display:inline-block;
    cursor:pointer;
    text-align: center;
    margin-left:10px;
    font-size: 24px;
    background-color: red;
    box-shadow: 2px 2px black;
    border-radius: 3px;
}

